{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'quizes/quiz.js' %}" defer></script> 
{% endblock scripts %}

{% block title %}
{{obj.name}}
{% endblock title %}

{% block content %}
<style>
    body{
        background: url("{% static 'photo6.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
      }
    
    h3{
        margin-top: 20px;
          text-align: left;
          font-size: 40px;
          font-family: 'century gothic';
          color: #ffffcc;
          text-shadow: 0 0 5px #fff,
                      0 0 10px #fff, 
                      0 0 20px rgb(236, 55, 55), 
                      0 0 30px rgb(236, 55, 55), 
                      0 0 40px rgb(236, 55, 55), 
                      0 0 55px rgb(236, 55, 55), 
                      0 0 70px rgb(236, 55, 55);
    }
  </style>
  
<div class="row">
    <div class="col mx-1" style="color: #fff;">
        <h3>{{obj.name}}</h3><br>
        <p style="text-align: left; width:40%; ">Score to pass: {{obj.required_score_to_pass}}%</p>
        <p style="text-align: left">Duration of the test: {{obj.time}}min</p>
    </div>
    <div class="col text-right" id="timer-box" style="color: #fff;"></div>
</div>

<a href="{% url 'quizes:main-view' %}" class="btn btn-danger">BACK</a>

<form id="quiz-form" class="mt-3 mb-3" style="color: #fff;">
    {% csrf_token %}
    <div id="quiz-box"></div>
    <button type="submit" class="btn btn-success mt-3">SUBMIT</button>
</form>
<div id="score-box" style="text-align: center; color: #fff;" ></div>
<div id="result-box"></div>


{% endblock content %}